<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cita_210_Final_Project_Jesse__Jacob__Jeremy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Cita_210_Final_Project_Jesse__Jacob__Jeremy.Properties.Settings>
            <setting name="StudentName" serializeAs="String">
                <value />
            </setting>
            <setting name="StudentID" serializeAs="String">
                <value />
            </setting>
            <setting name="CoursesEnrolledIn" serializeAs="String">
                <value />
            </setting>
            <setting name="CourseName" serializeAs="String">
                <value />
            </setting>
            <setting name="CourseID" serializeAs="String">
                <value />
            </setting>
        </Cita_210_Final_Project_Jesse__Jacob__Jeremy.Properties.Settings>
    </userSettings>
</configuration>